@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Redressed", cursive;
  height: 100vh;
  background-color: #f9f9f9;
  font-size: 22px;
}
.container {
  width: 450px;
  background-color: #fff;
  border-radius: 8%;
  text-align: center;
  box-shadow: 1px 1px 13px rgb(0 0 0 /10%);
  margin: 0 auto;
}
h1 {
  background-color: #cef5ec;
  padding: 10px 0;
  font-size: 28px;
  border-radius: 18px;
  color: #16a465;
}
p {
  color: #7e7e7e;
}
.control {
  margin: 25px 0px;
}
input {
  border: none;
  outline: none;
  text-align: center;
  border-bottom: 1px solid #16a465;
  color: #16a465;
  font-size: 28px;
  margin-top: 20px;
}
select {
  border: none;
  outline: none;
  border: 1px solid #16a465;
  color: #7e7e7e;
  font-size: 18px;
  margin-top: 20px;
  padding: 14px 35px;
  border-radius: 30%;
}
#calculate {
  color: #fff;
  background: #16a465;
  border: 1px solid transparent;
  font-size: 17px;
  border-radius: 25px;
  padding: 14px 29px;
  margin: 25px;
}
#calculate:hover {
  color: #16a465;
  border-color: #16a465;
  background: #fff;
}
.totalTip {
  background-color: #cef5ec;
  border-radius: 18px;
  padding: 25px 0 35px;
}
p.tip {
  font-size: 38px;
  color: #16a465;
  margin-top: 10px;
}
